 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
  html ,body{
   width: 100%;
   height: 100%;
  }
  
 .container{
   align-items: center;
   display: flex;
   flex-direction: column;
   background-color: rgb(196, 187, 187);
   height: 100vh;
   padding: 40px;
 }
 .btn{
   margin: 10px 0px;
 }
.btn button{
   padding: 10px 10px ;
   width: 10rem;
   font-size: large;
   font-weight: 500;
   border: none;
   border-radius: 5px;
    
   background-color: rgb(117, 95, 139);
   cursor: pointer;
   transition: all linear 0.1s;
   
}
.btn button:active{
   scale: 0.9;
}
.btn #colorInput{
   padding:  10px 10px;
   width: 15rem;
   margin: 0 5px 10px;
   
}
.currentColor{
   font-size: 2rem;
   background: #fff;
   width: fit-content;
   padding: 10px;
   border-radius: 5px;
}
h1{
   background: #fff;
   width: fit-content;
   padding: 10px;
   border-radius: 5px;
}
 